$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

$dark-navy: 230 35% 7%;
$light-blue: 231 77% 90%;
$white: 0 0% 100%;

$ff-main: "Barlow", sans-serif;
$ff-accent: "Barlow Condensed", sans-serif;
$ff-heading: "Bellefair", serif;
