.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-space, 1rem);
  outline: 1px solid red;
}

.bg-dark {
  background-color: hsl($dark-navy);
}

.bg-accent {
  background-color: hsl($light-blue);
}

.bg-white {
  background-color: hsl($white);
}

.text-dark {
  color: hsl($dark-navy);
}

.text-accent {
  color: hsl($light-blue);
}

.text-white {
  color: hsl($white);
}

.numbered-title {
  font-family: var(--ff-sans-cond);
  font-size: var(--fs-500);
  text-transform: uppercase;
  letter-spacing: 4.72px;
}

.numbered-title span {
  margin-right: 0.5em;
  font-weight: 700;
  color: hsl(var(--clr-white) / 0.25);
}
